export PUID=`id -u`
export PGID=`id -g`
export TZ="Europe/Paris"
export USERDIR=$HOME
export DOCKER_HOME=""
export TRAEFIK_ADMIN_USERNAME=""
export TRAEFIK_ADMIN_PASSWORD=""
export DOMAINNAME=""
export OVH_ENDPOINT="ovh-eu"
export OVH_APPLICATION_KEY=""
export OVH_APPLICATION_SECRET=""
export OVH_CONSUMER_KEY=""
export PATH="$PATH:$HOME/.dotnet/tools"